footer {
  li {
    list-style-type: none;
  }

  article {
    display: flex;
    justify-content: space-between;
    margin-block: 20px;

    .col:first-child {
      flex-basis: 40%;
    }

    .col {
      flex-basis: 18%;

      h2 {
        margin-bottom: 20px;
        color: var(--main-clr);
      }

      li {
        line-height: 1.6;
      }

      .subscribe {
        width: fit-content;
        display: flex;
        margin-top: 10px;
        border-radius: var(--radius);
        border: 2px solid var(--main-clr);

        input {
          padding: 4px;
          background-color: transparent;
          border: none;
          outline: none;
          color: inherit;
        }
        button {
          padding: 5px 12px;
          cursor: pointer;
          border: none;

          &:hover {
            background: var(--main-clr);
            color: inherit;
          }
        }
      }
    }

    .brand {
      font-size: 1.4rem;
      color: var(--main-clr);
      display: block;
      width: fit-content;
      margin: 0 0 20px;
      @media screen and (max-width: 900px) {
        margin: 0 auto 20px;
      }
    }

    p {
      line-height: 1.3;
      letter-spacing: 0.7px;
    }
  }

  a {
    color: var(--white-clr);
    transition: 0.5s;
    &:hover {
      color: var(--main-clr);
    }
  }

  .divider {
    border-top: 2px solid var(--main-clr);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      text-align: center;
    }

    .social-icons {
      display: flex;
      font-size: 1.4rem;
      align-content: center;
      gap: 10px;

      a:hover {
        color: var(--main-bg);
        transform: translateY(-3px);
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column-reverse;
      row-gap: 15px;
    }
  }

  @media screen and (max-width: 900px) {
    article {
      flex-wrap: wrap;
      row-gap: 30px;
    }

    article .col:first-child {
      flex-basis: 100%;
    }

    article .col {
      flex-basis: 33%;
      // text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    article .col {
      flex-basis: 100%;
    }
  }
}
