#event-page {
  .event-banner {
    display: flex;
    gap: 15px;

    @media screen and (max-width: 860px) {
      flex-direction: column-reverse;
    }

    .banner-content {
      flex-basis: 60%;

      .event-title {
        font-size: 1.4rem;
        margin-bottom: 0.8rem;
        color: var(--main-clr);

        @media screen and (max-width: 600px) {
          font-size: 1.1rem;
        }
      }

      .event-theme {
        font-size: 2.5rem;
        margin-bottom: 0.8rem;

        @media screen and (max-width: 600px) {
          font-size: 1.6rem;
        }
      }

      .event-slogan {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;

        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
      }

      .event-desc {
        font-size: 1rem;
        line-height: 1.4;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-block: 15px;
        }
      }

      .event-details {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-block: 15px;

        nav {
          flex-basis: 45%;
          h4 {
            font-size: 1.25rem;
            color: var(--main-clr);
            @media screen and (min-width: 600px) {
              font-size: 1.4rem;
            }
          }
        }
        nav:nth-child(1) {
          flex-basis: 100%;
        }

        h5 {
          line-height: 1.4;
          font-size: 1.15rem;
          margin-top: 10px;
          @media screen and (min-width: 600px) {
            font-size: 1.3rem;
          }
        }
      }

      .btn {
        margin-top: 20px;
        background: var(--main-clr);
        color: var(--white-clr);
        transition: var(--transition-duration-sm);

        &:hover {
          background: var(--dark-main-clr);
        }
      }
    }

    .banner-image {
      flex-basis: 40%;
      img {
        width: 100%;
        height: 280px;
      }
    }
  }

  .section-title {
    margin-top: 50px;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px 30px;
    margin-bottom: 80px;

    @media screen and (max-width: 940px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      row-gap: 90px;
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: var(--radius) var(--radius) 0 0;
      // drop-shadow: 0 0 10px rgba(0, 0, 0, 0.863);
      @media screen and (max-width: 640px) {
        aspect-ratio: 1.4/1;
      }
    }

    .card {
      figure {
        position: relative;
      }

      figcaption {
        border-radius: 0 0 var(--radius) var(--radius);
        background-color: var(--white-clr);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.863);
        color: var(--black-clr);
        padding: 8px 10px;
        position: absolute;
        bottom: -55px;
        width: 100%;

        h4 {
          font-size: 1.3rem;

          @media screen and (max-width: 500px) {
            font-size: 1.1rem;
          }
        }
        .speaker-info {
          display: flex;
          justify-content: space-between;
        }
        p {
          margin-top: 5px;
        }

        .social-handles {
          display: flex;
          gap: 10px;
          font-size: 1.4rem;

          a {
            color: inherit;

            &:hover {
              color: var(--main-clr);
            }
          }
        }
      }
    }
  }

  .sponsor-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    margin-bottom: 40px;

    @media screen and (min-width: 400px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 620px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 920px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(5, 1fr);
    }

    figure {
      // width: 260px;
      height: 130px;
      border-radius: 5px;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.863);

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    figcaption {
      display: block;
      margin-block: 10px;
      text-align: center;
    }
  }
}
